body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  padding: .5em;
}

.commentItem {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 10px;
  border-radius: 3px;
}

.commentItem-message {
  display: flex;
  justify-content: flex-start;
}

.commentItem-name {
  font-weight: bold;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px;
}

#root {
  display: flex;
}

.dialog {
  display: none;
}

.dialog.opened {
  display: block;
}

.dialog__window {
  z-index: 101;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog__mask {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  opacity: 0.6;
}