body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 0;
  border-radius: 3px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  padding: .5em;
}

.commentItem {
  background-color: whitesmoke;
  list-style-type: none;
  padding: 10px;
  border-radius: 3px;
}

.commentItem-message {
  display: flex;
  justify-content: flex-start;
}

.commentItem-name {
  font-weight: bold;
}

.container {
  flex-direction: column;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px;
}

#root {
  display: flex;
}

.dialog {
  display: none;
}

.dialog.opened {
  display: block;
}

.dialog__window {
  z-index: 101;
  background-color: #fff;
  padding: 20px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog__mask {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(10, 10, 10);
  opacity: 0.6;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    font-size: large;
  }
  .commentItem {
    font-size: large;
  }
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}

img {
  padding: 0;
  margin: 0;
  height: auto;
}

@media screen and (max-width: 600px) {
  header {
    background-image: url(./images/alvaro-reyes-600-600.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 544px;
    border-bottom: 2rem solid hsl(20deg, 50%, 70%);
    justify-content: flex-start;
    align-items: flex-start;
  }
  img {
    width: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  header {
    background-image: url(./images/alvaro-reyes-1000-500.jpg);
    background-size: cover;
    min-height: 500px;
    border-bottom: 2rem solid hsl(220deg, 50%, 70%);
    justify-content: flex-start;
    align-items: flex-start;
  }
  img {
    width: 90%;
  }
}

@media screen and (min-width: 1201px) {
  header {
    background-image: url(./images/alvaro-reyes-1550-900.jpg);
    background-size: cover;
    min-height: 500px;
    border-bottom: 2rem solid hsl(90deg, 50%, 70%);
    justify-content: flex-start;
    align-items: flex-start;
  }
  img {
    width: 60%;
  }
}

.box {
  background: #2db34a;
  border-radius: 6px;
  cursor: pointer;
  height: 95px;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 95px;
}

.box:hover {
  background: #ff7b29;
  border-radius: 50%;
}